{% extends './base.html' %}
{% block content %}

    {{message}}<br><br>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <!--li><a href="/app/{{ question.id }}/">{{ question.question_text }}</a></li-->
            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1cm;">
                <a href="{% url 'app:detail' question.id %}">
                    {{ question.question_text }}
                </a>
            </li>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}


{% endblock %}